@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ===== Global Scrollbar Styling ===== */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb; /* gray-200 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6; /* blue-500 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb; /* blue-600 */
}


