@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .input {
    @apply w-full p-3 rounded-lg bg-white/70 border border-gray-300 focus:ring-2 focus:ring-indigo-400 outline-none;
  }
}